@charset "UTF-8";
.tox .tinymce-merge-fields {
  overflow-y: scroll;
  border-left: solid 1px #ccc;
  padding: 5px;
  width: 300px;
}
.tox .tinymce-merge-fields ul {
  list-style: none;
}
.tox .tinymce-merge-fields .search {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}
.tox .tinymce-merge-fields .tree {
  margin: 1rem;
}
.tox .tinymce-merge-fields .tree ul li {
  padding: 1rem 0 0 1rem;
}
.tox .tinymce-merge-fields .tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.tox .tinymce-merge-fields .tree input:checked ~ ul {
  display: block;
}
.tox .tinymce-merge-fields .tree input ~ ul {
  display: none;
}
.tox .tinymce-merge-fields .tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 1rem 1rem;
}
.tox .tinymce-merge-fields .tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.5rem;
  display: block;
  width: 0;
  border-left: 1px solid #777;
  content: "";
}
.tox .tinymce-merge-fields .tree li:last-child:before {
  height: 1rem;
  bottom: auto;
}
.tox .tinymce-merge-fields .tree > li:last-child {
  padding-bottom: 0;
}
.tox .tinymce-merge-fields .tree > li:last-child:before {
  display: none;
}
.tox .tinymce-merge-fields .tree_label {
  position: relative;
  display: inline-block;
  background: #fff;
}
.tox .tinymce-merge-fields .tree_label:after {
  position: absolute;
  top: 0;
  left: -1.5rem;
  display: block;
  height: 0.5rem;
  width: 1rem;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  border-radius: 0 0 0 0.3rem;
  content: "";
}
.tox .tinymce-merge-fields button.tree_label {
  cursor: pointer;
}
.tox .tinymce-merge-fields label.tree_label {
  cursor: pointer;
}
.tox .tinymce-merge-fields label.tree_label:hover {
  color: #666;
}
.tox .tinymce-merge-fields label.tree_label:before {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1rem 0 -2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  content: "+";
  text-align: center;
  line-height: 0.9rem;
}
.tox .tinymce-merge-fields label.tree_label:after {
  border-bottom: 0;
}
.tox .tinymce-merge-fields :checked ~ label.tree_label:before {
  content: "–";
}
.tox .tinymce-merge-fields :checked ~ label.tree_label:after {
  border-radius: 0 0.3rem 0 0;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom: 0;
  border-left: 0;
  bottom: 0;
  top: 0.5rem;
  height: auto;
}
.tox .tinymce-merge-fields .tooltip {
  position: relative;
  display: inline-block;
}
.tox .tinymce-merge-fields .tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}
.tox .tinymce-merge-fields .tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tox .tinymce-merge-fields .tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.merge-value {
  cursor: default;
  background-color: #65b9dd;
  color: #fff;
  padding: 2px 8px;
  border-radius: 3px;
  display: inline-block;
}